body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    border: 1px solid red;
    width: 50%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
} 

.lines {
    display: flex;
    flex: 1;
}

.boxes {
    flex: 1;
    border: 1px solid red;
}