* {
    font-family: 'Teko';
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box
}

body {
    background-color: #F5F7FF;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 2rem;
}

.big-container {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: 70vh;
    gap: 2.25rem;
    padding-right: 8rem;
}

.container {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
            conic-gradient(from 116deg at 97% 9%, #331422 0%, #8bcaf5 60.65%, #d939bc 100%) 3% 17%/146% 153%;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 0.31rem;
} 

.menu {
    min-width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    align-self: center;
    padding: 1rem 0 1rem 0;
    background-color: #DEEAF4;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.menu > h2 {
    margin-top: -0.75rem;
    font-size: 1.25em;
}

.reset-container {
    margin-top: -0.8rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-container > p {
    font-size: 1.1em;
    margin-bottom: -0.2rem;
}

.reset-container > button {
    font-size: 1.15rem;
    padding-top: 0.2rem;
    width: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer; 
}

.range {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    
}

.range-container > p {
    text-align: center;
    margin-bottom: -0.65rem;
}

.range > p {
    font-size: 0.85em;
}

input[type='range'] {
    width: 4.5rem;
}

.color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0.75rem;
}

input[type='color'] {
    width: 2.6rem;
    height: 2.2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 5px solid #DDD;
  }
  
  input[type="color"]::-moz-color-swatch {
    border: none;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
  }

.bonus {
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.random-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noRainbow {
    background: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    min-height: 1.5rem;
    width: 6rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;     
    cursor: pointer; 
} 

.rainbow {
    min-height: 1.5rem;
    width: 6rem;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 5s linear infinite;
    cursor: pointer; 
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

.black-container {
    margin-top: -1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noFadeBlack {
    min-height: 1.5rem;
    width: 6rem;
    background: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(190,190,190,1) 17%, rgba(145,145,145,1) 37%, rgba(97,97,97,1) 59%, rgba(54,53,53,1) 80%, rgba(0,0,0,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer; 
}

.fadeBlack {
    min-height: 1.5rem;
    width: 6rem;
    background-image: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(190,190,190,1) 17%, rgba(145,145,145,1) 37%, rgba(97,97,97,1) 59%, rgba(54,53,53,1) 80%, rgba(0,0,0,1) 100%);
    animation: slidebg 5s linear infinite;
    cursor: pointer; 
}

.lines {
    display: flex;
    flex: 1;
}

.boxes {
    flex: 1;
    filter: brightness(1);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.4em;
    background-color: #C0C8CF;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

@media screen and (max-width: 1600px) {
    .big-container {
        min-height: 40%;
    }
}

